*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: cornflowerblue;
}
.content{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.wrapper{
    width: 450px;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.input-data{
    height: 30px;
    width: 100%;
    position: relative;
}
.input-data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label{
    transform: translateY(-20px);
    font-size: 15px;
    color: #4158d0;
}
.input-data label{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
}
.underline{
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
}
.underline::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #4158d0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline::before,
.input-data input:valid ~ .underline::before{
    transform: scaleX(1);
}
/* ----------------------------------------- */
.hello{
    width: 100%;
    height: 20%;
    background-color: violet;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputfile>input{
    display: none;
}



.testing_aja{
    display: flex;
}
.kecil{
    height: 150px;
    width: 150px;
}
.text{
    position: absolute;
    margin-top: 3%;
    margin-left: 3%;
}